<h1>Edit Stock movement</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.stock_movement_path(@conn, :update, @stock_movement)) %>

<span><%= link "Back", to: Routes.stock_movement_path(@conn, :index) %></span>
