<h1>New Stock movement</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.stock_movement_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.stock_movement_path(@conn, :index) %></span>
