<h1>Edit Stock transfer master</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.stock_transfer_master_path(@conn, :update, @stock_transfer_master)) %>

<span><%= link "Back", to: Routes.stock_transfer_master_path(@conn, :index) %></span>
