<h1>New Stock transfer</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.stock_transfer_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.stock_transfer_path(@conn, :index) %></span>
