<h1>Edit Purchase order master</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.purchase_order_master_path(@conn, :update, @purchase_order_master)) %>

<span><%= link "Back", to: Routes.purchase_order_master_path(@conn, :index) %></span>
