<h1>New Supplier product</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.supplier_product_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.supplier_product_path(@conn, :index) %></span>
