<h1>Edit Stock level</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.stock_level_path(@conn, :update, @stock_level)) %>

<span><%= link "Back", to: Routes.stock_level_path(@conn, :index) %></span>
