<h1>Show Serial no</h1>

<ul>

  <li>
    <strong>Serial no:</strong>
    <%= @serial_no.serial_no %>
  </li>

  <li>
    <strong>Product:</strong>
    <%= @serial_no.product_id %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.serial_no_path(@conn, :edit, @serial_no) %></span>
<span><%= link "Back", to: Routes.serial_no_path(@conn, :index) %></span>
