<h1>New Stock receive</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.stock_receive_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.stock_receive_path(@conn, :index) %></span>
