<h1>New Stock receive master</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.stock_receive_master_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.stock_receive_master_path(@conn, :index) %></span>
